---
import AMenu from '../components/AMenu.astro';
import {locale, localeName} from '../js/loadLang'
import {env} from '../js/env'
export interface Props {
	title: string;
}

const { title } = Astro.props;
const content = `${locale.about_prefix} ${locale.php} ${locale.and} ${locale.js}`
---

<!DOCTYPE html>
<html lang={localeName.toLocaleLowerCase()}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/avatar.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{env.formattedName} - {title}</title>
    <meta name="description" {content}>
	</head>
	<body>
    <div class="container mr-auto  mt-28">
      <div class="flex flex-row flex-wrap py-4">
        <AMenu />

        <main role="main" class="pl-8 w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
          <h1 class="text-5xl title-page mb-6">
            <span class=" border-b-4 border-indigo-500 pb-4">
              {title}
            </span>
          </h1>

          <slot />
        </main>
      </div>
  </div>

	</body>
</html>
<style is:global>
  @font-face {
    font-family: ProximaNovaLight;
    src: url('/fonts/proxima-nova-light.woff2') format('woff2');
  }
  @font-face {
    font-family: ProximaNovaRegular;
    src: url('/fonts/proxima-nova-regular.woff2') format('woff2');
  }
	html {
		font-family: ProximaNovaRegular;
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
	}
  h1.title-page {
    font-family: ProximaNovaLight;
  }
</style>
